header h1{
    text-align: center;
    margin-top: 100px;
}
div #middle{
    text-align: center;
    font-size: 25px;
    border-color: black;
    border-top: 2px;
    margin-top: 200px;
}
footer{
    text-align: center;
    vertical-align: bottom;
    margin-top: auto;
    color: gray;
}
div #middle p{
    text-align: center;
    border-top: 2px;
}
main div .{
    width: 10px;
}
section{
    text-decoration: none;
}

.blocks ul li{
    display: inline-block;
    margin-right:  100px;
}
